<div id="left_content">
  <h1>加入小组申请</h1>

  <%= render :partial=>"add_group_applications/show_apply" ,:collection=>@add_applications   %>
  <%= will_paginate @add_applications %>
</div>
<div id="right_content">
  <% sub_block_div() do %>
    <%= link_to "返回 #{ @group.name}小组", @group %>
  <%end%>
</div>