/doc
/rails
*.gem
/coverage
.svn
.svn/*
*.log
*.tmp
tmp
*.svn*
/log
/temp
*.log
log

/nbproject/private/rake-d.txt
/public/images/Thumbs.db
/public/images/auto_complete_like_facebook/Thumbs.db
/public/images/optipng.exe
schema.rb