<div id="left_content">
  <h1>创建工作经历</h1>

  <%  remote_form_for(@pass,:url=> user_passes_path(params[:user_id]),
    :html=>{:method=>:post,:class=>"form_info required-validate"}) do |f| %>


    <%= render :partial=>"passes/form" ,:object=>f %>
    <%= f.submit '保存',:class=>"button" %>    &nbsp; <%= link_to "暂时不想填" ,account_path()%>
  <% end %>
</div>
<div id="right_content">
  <% sub_block_div do%>
    输入工作记录，有可能会找到一起工作的同事哦
    <br/>
    也可以不填
  <%end%>
</div>