<%remote_form_for([new_form.owner,new_form,Comment.new],:html=>{:class=>"required-validate"} ) do |f| %>
  <div class="form_row">
    <%= f.text_area :content,:id=>"response_comment",:class=>"required",:title=>"要写点什么哦" %>
  </div>
  <div class="form_row">
    <%= render :partial=>"comm_partial/alias_account_choice" if current_user && (new_form.class.to_s=="Job" || (new_form.class.to_s=="Topic" && new_form.owner_type=="Company")) %>
  </div>
  <div class="form_row"><%= f.submit "回复",:disable_with=>"回复…",:disabled => false ,:class=>"button"%>
    <span id="advice-required-response_comment" class="validation-advice"></span>
  </div>
<%end%>