<div class="form_info">
  <h1>评价一下</h1>
  <%  remote_form_for(@judge,
    :url=> account_judges_path(:user_id=>params[:user_id],:pass_id=>params[:pass_id]),
    :loading=>"$('judge_submit').disabled=true;",
    :complete=>"$('judge_submAit').disabled=false;",
    :html=>{:method=>:post}) do |f| %>

    <%= render :partial=>"judges/form" ,:object=>f%>

    <p>
      <%= f.submit '保存',:disable_with=>"保存…" ,:class=>"button"%>&nbsp; <%= link_to_close_lightbox "取消"  %>
    </p>
  <% end %>
  <%=  javascript_tag("new Validation('new_judge',{immediate:true,useTitles:true,stopOnFirst:true});
  Event.observe('new_judge','reset',function() {validation.reset();},false);") %>
</div>

