<div id="left_content">
  <h1>好友</h1>

  <%= render :partial=>"users/user_info_and_operation" ,:collection=> @friend_users %>
  <%= will_paginate  @friend_users %>
</div>

<div id="right_content">
  <% sub_block_div() do %>
    <%= link_to "<< #{@user.name} 首页",user_path(@user) %>
  <%end%>
</div>