<div id="left_content">
  <h1>添加好友申请</h1>

  <%= render :partial=>"add_friend_applications/show_apply" ,:collection=>@add_friend_applications   %>
  <%= will_paginate @add_friend_applications %>
</div>
<div id="right_content">
  <% sub_block_div() do %>
    <%= link_to "<< 返回 个人页面", user_path(current_user) %>
  <%end%>
</div>
