<%spec = show_special_info%>
<%if  current_user?(spec.user) %>
  <span class="operation_lab" >
    <%= link_to_remote "",{:update=>dom_id(spec,"edit_container") ,
      :before=>" PerpareEdit('#{dom_id(spec)}')",
      :complete=>"$('#{dom_id(spec,"edit")}').focusFirstElement();
    new Validation($('#{dom_id(spec,"edit")}'),{
    immediate:true,
    useTitles:true,
    stopOnFirst:true
    });",
      :url=>edit_user_speciality_path(spec.user,spec),:method=>"get"},
      :class=>"edit_img_button",:title=>"编辑" %>
    <%=  link_to_remote "",{:url=>user_speciality_path(spec.user,spec),
      :confirm => '确定删除吗?', :method => :delete},
      :class=>"del_img_button",:title=>"删除"%>
  </span>
<%end%>
<dt><%=spec.name%></dt>
<dd><%= spec.description %></dd>

