<li class="<%= cycle("topic_item gray_background", "topic_item") %>">
  <div class="date_field r"> <%= date_ago_in_words(object.created_at)+"发布" %></div>  <%= link_to h(object.title),company_job_path(object.company,object)  %>
</li>
