
  <div id="single_column">
    <br/>
    <div  class="center_block" >
      <%= render :partial=>"comm_partial/search",:locals=>{:default_text=>"搜索职位"} %>
    </div>

    <br/>
    <br/>
      <%sub_block_div("最新的职位" , link_to("+发一条招聘信息",add_job_account_path(),:class=>"button negative",:style=>"display:inline;")) do%>
        <ul class="list">
          <%= render :partial=>"jobs/short_item",:collection=>Job.limit(5).order("created_at desc") ,:locals=>{:is_show_company=>true}%>
        </ul>
        <%= link_to("<<查看更多…",search_jobs_path())%>
      <%end%>
  </div>
