
<div id="left_content">

  <% form_for([@company,@job],:html=>{:class=>"form_info"}) do |f| %>
    <h1>创建招聘信息</h1>
    <%= render :partial=>"jobs/form" ,:object=>f %>
    <div class="form_row">
      <label  class="filed_lab" >&nbsp;</label>
      <%= check_box_tag  "is_need_broadcast", "true",true -%>
      <label for="is_need_broadcast"  ><span title="自动转发">同时自动转发给所有关注我的人</span></label>
    </div>
    <p>
      <%= f.submit '保存' %>
    </p>
  <% end %>
</div>

<div id="right_content">
  <%= link_to "<< 返回 #{@company.name}" ,@company %>
</div>