<h1>消息</h1>
<div class="tab">
  <ul class="item">
    <li><%= link_to "新消息", account_msgs_path(:type=>:new),:class=>(controller.action_name =="index" && params[:type]!="recieve" && params[:type]!="send"  ? "active-tab" : "" ) %> </li>
    <li><%= link_to "收到的消息",account_msgs_path(:type=>:recieve) ,:class=>(controller.action_name =="index" && params[:type]=="recieve"  ? "active-tab" : "" %> </li>
    <li><%= link_to   "发送的消息",account_msgs_path(:type=>:send),:class=>(controller.action_name =="index" && params[:type]=="send"  ? "active-tab" : ""  %></li>
    <li><%= link_to "+写消息",new_account_msg_path()%></li>
  </ul>
</div>
