<p>
  <b>Job:</b>
  <%=h @job_applicant.job_id %>
</p>

<p>
  <b>Applicant:</b>
  <%=h @job_applicant.applicant_id %>
</p>

<p>
  <b>Recommend:</b>
  <%=h @job_applicant.recommend_id %>
</p>

<p>
  <b>Memo:</b>
  <%=h @job_applicant.memo %>
</p>