/* 
    Document   : applicationStyleSheet
    Created on : 2009-8-25, 15:45:39
    Author     : 明
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
--title_background_color  #E1E9F8
*/
a:hover { background-color:#E1E9F8;color: #005BAA }
a{
    text-decoration:none;
    /*  color: #669900;*/
}
#flash_msg a{
    text-decoration: underline;
}
label{
    cursor: pointer;
}
.fieldWithErrors {
    padding: 2px;
    background-color: red;
}

.main_info h1 {
    font-size:130%;
    font-weight:900;
    margin:0 0 10px
}
.main_info h2 {
    font-size:120%;
    font-weight:900;
    margin:0 0 10px;
    /*border-bottom: 1px silver solid;*/
}
.main_info h3 {
    font-size:110%;
    font-weight:900;

    margin:0px;
    padding-bottom:6px;
    padding-top:3px;
}
.main_info h4 {
    font-size:100%;
    font-weight:900;
    margin-bottom:1px;
}

#errorExplanation {
    width: 400px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

#errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #c00;
    color: #fff;
}

#errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 5px;
    margin:5px;
}

#errorExplanation ul li {
    font-size: 12px;
}
#main{
    min-width:1024px;
}
/* header*/
#header{
    height:80px;
    background-color:#c9ff5e;
    background-image:  url(/images/logo.png);
    background-repeat: no-repeat;
    background-position: 25px;
    /*background-color: #99d589;*/
}

.content{
    margin:16px auto;
    /* width:1000px;*/
}
#footer{
    clear:both;
    margin-top:10px;
    border-top:1px solid #EdEdEd;
    height:40px;
    margin:5px;
    padding: 8px;
}

.container{
    padding:0px 35px;
    height:100%;
    min-height: 440px;
    height:auto !important; 
    height: 440px;

}

#resume_content .inplaceeditor-form,.partial_container{
    border:1px solid silver;
    background-color: #FFF4C2;
    /* padding:0px 30px;*/
    margin-bottom:2px;
    padding:5px 12px;
}

#lightbox_content textarea,#resume_content  textarea{
    height:8em;
}
.section{
    padding:0px 20px;
}
#base_info p span{
    font-weight:bold;
}
#user_base_info{
    *overflow:hidden;
    min-height:21px;
    height:auto !important;
    height: 21px;
}
#resume_content dl{
    margin:0 0 0.5em 0;
}
#resume_content dl dd{
    margin:0px;
}

.form_info{
    padding:6px 6px;
    margin:6px 6px
}
.loading{
    display:block;
    margin: 0 auto 0 auto;
    width:100%;
    height:32px;
    background: transparent url(/images/loading.gif) no-repeat center center;
}
.form_info h1{
    font-family: 'Arial Narrow',sans-serif,Helvetica,Arial,sans-serif;
    margin-bottom:20px;
}
.form_info .filed_lab{
    width: 6em;
    text-align: right;
    margin:0px 3px;
    display:inline-block;
    float: left;
    /*  line-height:22px;*/
}
.form_info .group_lab{
    color:blue;
}

.form_info #form_button{
    padding:12px;
}
#search{
    width:75%;
}
/*用户注册页面*//*用户登录页面*/
#new_user_page .text,
#user_login_page .text{
    width:300px;
}

#top_user_info .text{
    width:80%;
    padding:1px;
    height: 14px;
    margin: 0px;
}
#login_and_reg{
    *line-height:80px;
}
#top_user_info #email{
    *margin-top:3px;
}

/*用户基本设置页面*/
#set_base_info_page .text{
    height:16px;
    width:220px;
}

.mian_info h1{
    padding:0px;
    margin:0px;
}
.main_info{
    padding:20px 40px;
    margin-bottom: 8px;
}
#resume_info_show{
    background-color:#ddf0f8;
}
#resume_info h1{
    margin: 0px;
}
#company_info_show{
    background-color:#E9EFF8;
}

#group_info_show{
    background-color:#F7EAEA;
}

#group_content , #resume_content{
    min-height:125px;
    height:auto !important; 
    height:125px;
}

.pass_item{
    padding-bottom:10px;
    margin-bottom:10px;
    border-bottom:1px dotted silver;
}
.date_field{
    color:#999;
    font-size:99%;
    /*    padding:0px;
      margin:0px;
     margin-bottom:4px;*/
}
/*单列的界面*/
#single_column{
    width:890px;
    margin: 0px auto;
}
#left_content{
    float:left;
    width:68%;
    padding:0px;
    margin:0px;
    padding-right:12px;
    /* border-right:1px dotted silver;*/
}

#right_content{
    float:left;
    padding:0px;
    margin:0px;
    padding-left:12px;
    height:100%;
    width:29%;
    border-left:1px solid #EdEdEd;
    min-height:500px;
    height:auto !important;
    height:500px;
}

div.auto_complete ul li {
    cursor:pointer;
}


.operation_lab{
    display:none;
    margin-top:2px;
    float: right;
    margin-left:4px;
    font-size:10px;
}
.hover{
    background-color:#FFF9DD;
    cursor:pointer;
}
.hover .operation_lab{
    display:inline;
}

/* 菜单 */
div#menu{
    margin:0 auto;
    width:55%;
    margin-right:295px;
    overflow:hidden; 
}

#current_user{
    float:right;
    width:290px;
    height:80px;
    display:table;
}

#current_user_operation{
    margin-left: 75px;
}
#current_user_img {
    display:table-cell;
    vertical-align: middle;
}

#current_user_img .user_icon{
    /* 针对IE的Hack
    width: 60px;*/

    *margin-top:6px;
    overflow:auto;
    padding: 6px;
}

#current_user_img  img{
    vertical-align:middle;
    cursor:pointer;
}

#current_user_img a:hover  .user_icon{
    background-color:#fff;
    background-image: url(/images/small_delta.gif);
    background-repeat: no-repeat;
    background-position: bottom;
}

#top_user_info{
    display:table-cell;
    height:80px;
    vertical-align:middle;
    overflow:auto;
}

#top_user_info .login_input{
    width:120px;
    font-size:12px;
    height:18px;
}

.user_language{
    font-weight:normal;

    font-style:italic;
    color:gray;
    width:160px;
    overflow:hidden;
}
.user_short_info{
    width:100%;
    margin-bottom:6px;
}
ul#nav,ul#nav li{
    list-style-type:none;
    margin:0;padding:0
}
ul#nav{
    padding-top:46px;
    margin:0 auto;
    width:100%;
    overflow:hidden; 
}
ul#nav li{float:left;
          margin-right: 5px;
          text-align: center
}
ul#nav a{
    float:left;
    width: 7em;
    padding: 8px 0;
    text-decoration:none;
    color: #222
}
ul#nav .activelink a,ul#nav a:hover{
    color: #000;
    font-weight:bold;
    background:#fff url(/images/input-text.png) repeat-x scroll left top;
}

.thumb_img{
    float:right;
    /*margin-right:4px;*/
    padding:1px;
    border:silver 1px solid;
    text-align:center;
    background-color:#fff;
    position:relative;
}

.r {
    float:right;
}
.l {
    float:left;
}

/*用户评价judge */
.detail_judge{
    background-color:#EEEEFF;
    padding-left:32px;

}
.hot_text{
    color:orange;
    font-weight:bold;
}
.red_text{
    color:#ff3333;
    font-weight:bold;
    font-size:14px;
}
.big_text{
    font-size:2.5em;
}
.pass_judge{
    padding:4px;
}
.judge_infos{
    background-color:#fff;
    padding:0px 4px;
}

/*thumb img*/
.upload_file_button{
    text-align:center;
    background-color: #ccccff;
}

/* sub_block 小模块*/
.sub_block{
    margin-bottom:4px;
    padding:2px;
}
.sub_block .sub_block_title{
    font-weight:bolder;
    padding:0px 2px ;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    font-size:14px;
}
.sub_block .sub_block_content{
    padding:4px 0px;
    overflow: hidden;
    width: 100%;
}
.sub_block_operation{
    float:right;
    text-align:right;
}
/*-------------------------*/

/*user_icon*/
.user_icon ,.group_icon{
    background-color:#E1E9F8;
    text-align:center;
    padding:5px;
}
.group_icon p,.user_icon p{
    padding:0px;
    margin:0px;
    line-height:1;
    margin-top:2px;
    overflow:hidden;
    white-space:normal;
    word-break:break-all;
}

.user_icon,.user_icon_top{
    width:60px;
}

.user_icon .icon {
    width:100%;
    position:relative;
}

.user_extension{
    margin-right:8px;
    margin-bottom:8px;
    height:90px;
}

/*小组 图标*/
.group_icon{
    width:80px;
}
.float_ul{
    list-style-type:none;
    margin:0;padding:0;
    overflow:auto;
}
.float_ul li{
    display: inline;
    float: left;
}

.group_icon_extend{
    margin:4px 6px;
    height:105px;
}
.hidden_group_bk{
    background-color:#eee;
}
/*--------------*/
/*分页 */
.pagination {
    padding: 3px;
    margin: 3px;
}
.pagination a {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #aaaadd;
    text-decoration: none;
    color: #000099;
}
.pagination a:hover, .pagination a:active {
    border: 1px solid #000099;
    color: #000;
}
.pagination span.current {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #000099;
    font-weight: bold;
    background-color: #000099;
    color: #FFF;
}
.pagination span.disabled {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #eee;
    color: #ddd;
}

/*msg 列表*/
#msg_list_table{
    width:80%;
    margin:8px auto;

    border-collapse:collapse;
    height:100%;
}

#msg_list_table th{
    text-align:left;
    background-color:#E1E9F8;
    padding:4px 8px;

}

#msg_list_table .msg_title{
    width:50%;
}
#msg_list_table .msg_title a{
    display:block;
}

#msg_list_table td{
    padding:4px 8px;
}
/*msg 显示*/
#msg_show{
    /*  width:650px;*/
    margin:8px auto;

}
.msg_info{
    margin-bottom:8px;
}
.msg_text{
    margin-left:160px;
}

#response_comment{
    width:98%;
    height:5em;
}
/*申请信息*/
.apply_info{
    margin:10px;
    padding:8px;
    border-bottom:1px dotted silver;
}
.apply_info .applicant, .apply_memo{
    float:left;
    margin-right:8px;
}
.company_icon{
    height:70px;
    width: 70px;
    vertical-align:middle;
    display:table-cell;
}
.company_icon a{
    line-height:0px;
}
.company_icon img{
    vertical-align:middle;
}
/*同事分栏 右边的公司列表 */
.link_list{
    width:100%;
    overflow:hidden;
}
.link_list ul{
    margin:0px;
}
.link_list li{
    list-style-type:none;
    margin-bottom:2px;
}

.link_list li a{
    display: block;
    width:100%;
    padding:2px 4px;
    max-height:6em;
}

#current_company{
    color:black;
    background-color: #E1E9F8;
    font-weight: bold;
}

.link_list li  a:hover {
    color:black;
    background-color: #E1E9F8;
}

/*邀请 同事评价 窗口*/
#invite_yokemate{
    display: inline-block;
    min-height:1.6em;
    height:auto !important;
    height:1.7em;
    width: 378px;
}
#invite_yokemate input{
    height:auto;
    width:auto;
}
#invite_email,#invite_msg {
    width:380px;
}
#invite_msg{
    height:150px;
}

.user_my_language{
    font-size:small;
    font-weight:normal;

    font-style:italic;
    color:gray;
}
#my_language{
    width:100%;
    overflow:hidden;
    bottom: 0;
    left: 0;
    height:3em;
    position: absolute;
    white-space:normal;
}
#my_language_area{
    width:15em;
    height:45px !important; 
    height:55px;
    margin-bottom:2px;
    position: relative;
}
#my_language_area form{
    position: absolute;
    top: 0px;
    left:0px;
    width:100%;
}
#my_language_area textarea{
    width:100%;
    height:3em;
}
/*公司简短信息*/
.company_name{
    font-weight: bolder;
}
.company_short_info{
    margin-bottom: 0.8em;
}
.company_short_info .icon .icon_inner{
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    height:68px;
    line-height:68px;
    width:68px;

    *font-size: 59px;/*约为高度的0.873，200*0.873 约为175*/
    *font-family:Arial;/*防止非utf-8引起的hack失效问题，如gbk编码*/
}
.company_short_info .icon .icon_inner img{
    vertical-align:middle;
}
.rank{
    font-size: 280%;
    font-weight:bolder;
    color:red;
}
/*tag 标签的css*/
#company_tags{
    width:440px;
}
#industry_link_list
{
    width: 100%;
    overflow:auto;
}
#industry_link_list li{
    display: inline;
    float: left;

}
#industry_link_list a{
    width: 16em;
    padding:2px 4px;
    display:block;
}

.tag,.disable_tag{
    padding:2px 8px;
    margin:1px;
    display:inline-block;
    cursor:pointer;
}
.tag{
    background-color:#ccff99;
}
.disable_tag{
    background-color:silver;
}
.tag_input{
    width:440px;
}

/*自动完成 提示菜单*/
div.auto_complete {
    width: 350px;
    background: #fff;
}
div.auto_complete ul {
    border:1px solid #888;
    margin:0;
    padding:0;
    width:100%;
    list-style-type:none;
}
div.auto_complete ul li {
    margin:0;
    padding:3px;
}
div.auto_complete ul li.selected {
    background-color: #ffb;
}
div.auto_complete ul strong.highlight {
    color: #800;
    margin:0;
    padding:0;
    font-weight:bold;
}
/*用户日志信息*/
.user_log h5,.user_log_just_text h5{
    font-weight:bolder;
    margin:6px auto;
    color:gray;
}
.user_log_just_text .icon_right_content{
    margin-left: 8px;
}

.user_log{
    margin-bottom:0.8em;
}

/*公司博客*/
.news_title{
    font-weight:bold;
    background-color:#E1E9F8;
    padding:4px 8px;
}
/* up down 按钮*/
.make_up_down{
    padding:2px;
}
.make_up,.make_down{
    padding:3px;
    text-align:center;
    width:26px;
}
.make_up{
    background-color:#E1E9F8;
}
.make_down{
    background-color:#FBE3E4;
}
/*----------------*/
.main_content{
    border-bottom:1px silver solid;
    margin-bottom:6px;
    min-height:100px;
    height: auto!important;
    height:100px;
}
.news_company_icon{
    margin-right:12px;
}
/*公司博客结束------------------------------------*/
/*回复*/
.operation{
    text-align:center;
}

.item_content{
    padding:8px 2px;
    /*   margin-bottom:8px;*/
    border-bottom:1px silver dotted ;
    overflow:auto;
}
.icon_right_content{
    margin-left:80px;
}
.group_short_content{
    margin-left:100px;
}
.group_short_description{
    min-height:40px;
    height:auto !important;
    height:40px;
}

.item_content .editor_field{
    height:60px;
    width:500px;
}
/*End回复结束*/
/*推荐*/
.recommend_memo{
    height:120px;
}
/*话题*/
.topic_item{
    padding:4px 5px 4px 5px;
    overflow:auto;
    border-bottom:#F0F0F0 solid 1px ;
}
.topic_item a{
    text-decoration:none;
}
.topic_item a:hover{
    background-color:transparent;
    text-decoration:underline;
}
/*XX 最后回复 于 */
.topic_item span{
    font-size:90%;
    color:gray;
}
.gray_background{
    background-color: #F5F5F5;
}
.big_star_judge{
    margin: 2px;
}
/*星星*/
.big_star_0,.big_star_1,.big_star_2,.big_star_3,.big_star_4,.big_star_5，
{
    width:120px;
    background-image:url(/images/big_star.png);
    display:inline-block;
    background-position: 0px 0px;
    height:21px;
    font-size:10px;
    background-repeat:no-repeat;
}
.big_star_0{
    background-position: 0px 0px;
}
.big_star_1{
    background-position: 0px -21px;
}
.big_star_2{
    background-position: 0px -42px;
}
.big_star_3{
    background-position: 0px -63px;
}
.big_star_4{
    background-position: 0px -85px;
}
.big_star_5{
    background-position: 0px -106px;
}
.middle_star_0,.middle_star_1,.middle_star_2,.middle_star_3,.middle_star_4,.middle_star_5，
{
    width:91px;
    background-image:url(/images/middle_star.png);
    display:inline-block;
    background-position: 0px 0px;
    height:16px;
    background-repeat:no-repeat;
}
.middle_star_0{
    background-position: 0px 0px;
}
.middle_star_1{
    background-position: 0px -16px;
}
.middle_star_2{
    background-position: 0px -32px;
}
.middle_star_3{
    background-position: 0px -48px;
}
.middle_star_4{
    background-position: 0px -64px;
}
.middle_star_5{
    background-position: 0px -80px;
}

.small_star_0,.small_star_1,.small_star_2,.small_star_3,.small_star_4,.small_star_5{
    width:68px;
    background-image:url(/images/small_star.png) ;
    display:inline-block;
    background-repeat:no-repeat;
    background-color:transparent;
    color:#fff;
    padding:0px;
    font-size:10px;
    font-weight:normal;
    height:12px;
}
.small_star_0{
    background-position: 0px 0px;
}
.small_star_1{
    background-position: 0px -12px;
}
.small_star_2{
    background-position: 0px -24px;
}
.small_star_3{
    background-position: 0px -36px;
}
.small_star_4{  
    background-position: 0px -48px;
}
.small_star_5{
    background-position: 0px -60px;
}
/*星星结束*/
.process_bar{
    display:inline-block;
    background-color:gray;
    height:13px;
    margin-right:2px;
    margin-left:2px;
}
.visible_0,
.visible_1,
.visible_2,
.add_img_button,
.edit_img_button,
.del_img_button {
    width:13px;
    height:13px;
    display:inline-block;
    background-repeat:no-repeat;
    background-position:left;
    margin:0px 4px;
    background-color:transparent;
    font-size:10px;
}
.add_img_button{
    background-image:url(/images/add_img.png);
}
.edit_img_button{
    background-image:url(/images/edit_img.gif);
}
.del_img_button{
    background-image:url(/images/del_img.png);
}
.visible_0{
    background-image:url(/images/visible_open.png);
}
.visible_1{
    background-image:url(/images/visible_olny_friend.png);
}
.visible_2{
    background-image:url(/images/visible_self.png);
}
.text_center{
    text-align:center;
}
.set_center{
    margin:0 auto;
}
/*用户状态*/
.user_state_working,.user_state_freedom,.user_state_student{
    display:inline-block;
    font-size:12px;
    height:60px;
    width:10px;
    height:10px;
    line-height:10px;
    background-repeat:no-repeat;
    margin:0 2px 0 0;
}
.user_state_working{
    background-image:url(/images/im_working.png);
}
.user_state_freedom{
    background-image:url(/images/im_free.png);
}
.user_state_student{
    background-image:url(/images/im_student.png);
}
.user_state_at_icon{
    bottom:0;
    left:0;
    position:absolute;
    overflow:hidden;
}
/*用户状态 结束*/
#ajax_login_form{
    width: 390px;
}
#ajax_login_form .text{
    width: 240px;
}
.panel{
    overflow:hidden;
}
.register_button{
    background: url(/images/register.png);
    display: block;
    width: 291px;
    height:57px;
    margin: 0 auto;
    float: right;
    border: 1px #E1E9F8 solid;
}

.register_button:hover {
    border: 1px silver solid;
}

#welcome_div{
    padding: 14px;
    overflow: auto;
    background-color: #E1E9F8;
}

#user_count,#company_count,#group_count{
    font-size: 140%;
    font-weight:bolder;
}
#user_count{
    color: red;
}
#company_count{
    color:green;
}
#group_count{
    color:blue;
}
#hide_register_button{
    width: 30px;
    height:20px;
    display:block;
    margin: 0 auto;
}
.msg_title_input{
    width: 390px;
    display: inline-block;
}
#search{
    font-weight: bolder;
}
.bottom_gray_line{
    border-bottom: 1px solid  #EdEdEd;
}
#whole_judge_detail_star{
    border:solid 1px #DEDEDE;
    border-top:none;
    background:#FFFFFF;
    position:absolute;
    margin:0px;
    padding:8px 10px;
    clear:both;
    z-index:299;
}
.center_block{
    margin: 0 auto;
    width: 650px;
}
.half_width{
    width: 49%;
}