  html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
body {line-height:1.5;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}
 html {font-size:100.01%;}
body {font-size:75%;color:#222;background:#fff;font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#111;}
h1 {font-size:3em;line-height:1.2;margin-bottom:0.5em;}
h2 {font-size:2em;margin-bottom:0.75em;}
h3 {font-size:1.5em;line-height:1;margin-bottom:1em;}
h4 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;}
h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h6 {font-size:1em;font-weight:bold;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}
p {margin:0 0 0.5em;}
p img.left {float:left;margin:1.5em 1.5em 1.5em 0;padding:0;}
p img.right {float:right;margin:1.5em 0 1.5em 1.5em;}
a:focus , a:hover{color:#000;}
a {color:#009;text-decoration:underline;}
a {color:#009;}
blockquote {margin:1.5em;color:#666;font-style:italic;}
strong {font-weight:bold;}
em, dfn {font-style:italic;}
dfn {font-weight:bold;}
sup, sub {line-height:0;}
abbr, acronym {border-bottom:1px dotted #666;}
address {margin:0 0 1.5em;font-style:italic;}
del {color:#666;}
pre {margin:1.5em 0;white-space:pre;}
pre, code, tt {font:1em 'andale mono', 'lucida console', monospace;line-height:1.5;}
li ul, li ol {margin:0 1.5em;}
ul, ol {margin:0 1.5em 1.5em 1.5em;}
ul {list-style-type:disc;}
ol {list-style-type:decimal;}
dl {margin:0 0 1.5em 0;}
dl dt {font-weight:bold;}
dd {margin-left:1.5em;}
table {margin-bottom:1.4em;width:100%;}
th {font-weight:bold;}
thead th {background:#c3d9ff;}
th, td, caption {padding:4px 10px 4px 5px;}
tr.even td {background:#e5ecf9;}
tfoot {font-style:italic;}
caption {background:#eee;}
.small {font-size:.8em;margin-bottom:1.875em;line-height:1.875em;}
.large {font-size:1.2em;line-height:2.5em;margin-bottom:1.25em;}
.hide {display:none;}
.quiet {color:#666;}
.loud {color:#000;}
.highlight {background:#ff0;}
.added {background:#060;color:#fff;}
.removed {background:#900;color:#fff;}
.first {margin-left:0;padding-left:0;}
.last {margin-right:0;padding-right:0;}
.top {margin-top:0;padding-top:0;}
.bottom {margin-bottom:0;padding-bottom:0;}
 label {font-weight:bold;}
fieldset {padding:1.4em;margin:0 0 1.5em 0;border:1px solid #ccc;}
legend {font-weight:bold;font-size:1.2em;}
input[type=text], input[type=password], input.text, input.title, textarea, select {-moz-background-clip:border; -moz-background-inline-policy:continuous; -moz-background-origin:padding; background-color:#fff; background:white url(/images/input-text.png) repeat-x scroll left top; border:1px solid #bbb}
input[type=text]:focus, input[type=password]:focus, input.text:focus, input.title:focus, textarea:focus, select:focus {border-color:#666;}
input[type=text], input[type=password], input.text, input.title, textarea, select {margin:0.0em 0;}
input.text, input.title {padding:4px;}
input.title {font-size:1.5em;}
textarea {width:390px;height:250px;padding:5px;}
input[type=checkbox], input[type=radio], input.checkbox, input.radio {position:relative;top:.25em;}
form.inline {line-height:3;}
form.inline p {margin-bottom:0;}
.error, .notice, .success {padding:.8em;margin-bottom:1em;border:2px solid #ddd;}
.error {background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
.notice {background:#FFF6BF;color:#514721;border-color:#FFD324;}
.success {background:#E6EFC2;color:#264409;border-color:#C6D880;}
.error a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}
 .container {margin:0 auto;}
.column{float:left;margin-right:10px;}
.last, div.last {margin-right:0;}
input.span-1, textarea.span-1, input.span-2, textarea.span-2, input.span-3, textarea.span-3, input.span-4, textarea.span-4, input.span-5, textarea.span-5, input.span-6, textarea.span-6, input.span-7, textarea.span-7, input.span-8, textarea.span-8, input.span-9, textarea.span-9, input.span-10, textarea.span-10, input.span-11, textarea.span-11, input.span-12, textarea.span-12, input.span-13, textarea.span-13, input.span-14, textarea.span-14, input.span-15, textarea.span-15, input.span-16, textarea.span-16, input.span-17, textarea.span-17, input.span-18, textarea.span-18, input.span-19, textarea.span-19, input.span-20, textarea.span-20, input.span-21, textarea.span-21, input.span-22, textarea.span-22, input.span-23, textarea.span-23, input.span-24, textarea.span-24 {border-left-width:1px!important;border-right-width:1px!important;padding-left:5px!important;padding-right:5px!important;}
div.border {padding-right:4px;margin-right:5px;border-right:1px solid #eee;}
div.colborder {padding-right:24px;margin-right:25px;border-right:1px solid #eee;}
.pull-1, .pull-2, .pull-3, .pull-4, .pull-5, .pull-6, .pull-7, .pull-8, .pull-9, .pull-10, .pull-11, .pull-12, .pull-13, .pull-14, .pull-15, .pull-16, .pull-17, .pull-18, .pull-19, .pull-20, .pull-21, .pull-22, .pull-23, .pull-24 {float:left;position:relative;}
.push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11, .push-12, .push-13, .push-14, .push-15, .push-16, .push-17, .push-18, .push-19, .push-20, .push-21, .push-22, .push-23, .push-24 {float:right;position:relative;}
.prepend-top {margin-top:1.5em;}
.append-bottom {margin-bottom:1.5em;}
.box {padding:1.5em;margin-bottom:1.5em;background:#E5ECF9;}
hr {background:#ddd;color:#ddd;clear:both;float:none;width:100%;height:.1em;margin:0 0 1.45em;border:none;}
hr.space {background:#fff;color:#fff;visibility:hidden;}
.clearfix:after, .container:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.clearfix, .container {display:block;}
.clear, .c, .clear_float {clear:both;line-height:0px;margin:0px;padding:0px;}
 a.button, button {display:block; float:left; margin: 0.7em 0.5em 0.7em 0; padding:5px 10px 5px 7px;  border:1px solid #dedede; border-top:1px solid #eee; border-left:1px solid #eee; background-color:#f5f5f5; font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif; font-size:100%; line-height:130%; text-decoration:none; font-weight:bold; color:#565656; cursor:pointer}
button {width:auto; overflow:visible; padding:4px 10px 3px 7px;  }
button[type] {padding:4px 10px 4px 7px;  line-height:17px;  }
*:first-child+html button[type] {padding:4px 10px 3px 7px;  }
button img, a.button img{ margin:0 3px -3px 0 !important; padding:0; border:none; width:16px; height:16px; float:none}
  button:hover, a.button:hover{ background-color:#dff4ff; border:1px solid #c2e1ef; color:#336699}
a.button:active{ background-color:#6299c5; border:1px solid #6299c5; color:#fff}
 body .positive {color:#529214}
a.positive:hover, button.positive:hover {background-color:#E6EFC2; border:1px solid #C6D880; color:#529214}
a.positive:active {background-color:#529214; border:1px solid #529214; color:#fff}
 body .negative {color:#d12f19}
a.negative:hover, button.negative:hover {background-color:#fbe3e4; border:1px solid #fbc2c4; color:#d12f19}
a.negative:active {background-color:#d12f19; border:1px solid #d12f19; color:#fff}
  ul.popmenu {border:solid 1px #DEDEDE; border-top:none; background:#FFFFFF; position:absolute; top:4px; width:150px; margin:0px; padding:0; clear:both; z-index:299; display:none}
ul.popmenu li{ background:none; display:block; float:none; margin:0; border:0; height:auto; line-height:normal; border-top:solid 1px #DEDEDE}
ul.popmenu li a{ background:none; display:block; float:none; padding:6px 6px; margin:0; border:0; height:auto; color:#105cbe; line-height:normal}
ul.popmenu li a:hover{ background:#e3edef}
 #lightbox{ display:none; position: absolute; z-index:9999; left:50%; top:50%; border:1px solid silver; background:#Fff; text-align:left}
#lightbox[id]{ position:fixed}
#overlay{ display:none; position:absolute; top:0; left:0; width:100%; height:100%; z-index:5000; background-color:#000; -moz-opacity: 0.1; opacity:0.1; filter: alpha(opacity=10)}
#overlay[id]{ position:fixed}
#lightbox.done #lightbox_content{ display:block}
#LoadMessage{ display:block; margin: 0 auto 0 auto; width: 200px; height: 200px; background: #FFF url(../images/loading.gif) no-repeat center center}
#lightbox.done img{ width:auto; height:auto}
#lightbox #lightbox_close{ float:right; padding:4px; height:9px; width:9px; background-image:url(/images/close.gif); background-position: center; background-repeat: no-repeat}
#lightbox_msg{ clear:both; margin-left:4px; margin-right:4px}
 b.niftycorners,b.niftyfill{display:block}
b.niftycorners *{display:block;height: 1px;line-height:1px;font-size: 1px; overflow:hidden;border-style:solid;border-width: 0 1px}
 b.r1{margin: 0 3px;border-width: 0 2px}
b.r2{margin: 0 2px}
b.r3{margin: 0 1px}
b.r4{height: 2px}
b.rb1{margin: 0 8px;border-width:0 2px}
b.rb2{margin: 0 6px;border-width:0 2px}
b.rb3{margin: 0 5px}
b.rb4{margin: 0 4px}
b.rb5{margin: 0 3px}
b.rb6{margin: 0 2px}
b.rb7{margin: 0 1px;height:2px}
b.rb8{margin: 0;height:2px}
b.rs1{margin: 0 1px}
 b.t1{border-width: 0 5px}
b.t2{border-width: 0 3px}
b.t3{border-width: 0 2px}
b.t4{height: 2px}
b.tb1{border-width: 0 10px}
b.tb2{border-width: 0 8px}
b.tb3{border-width: 0 6px}
b.tb4{border-width: 0 5px}
b.tb5{border-width: 0 4px}
b.tb6{border-width: 0 3px}
b.tb7{border-width: 0 2px;height:2px}
b.tb8{border-width: 0 1px;height:2px}
b.ts1{border-width: 0 2px}
  .output_empty_star,.input_full_star,.output_full_star {DISPLAY: inline-block;  WIDTH: 16px; HEIGHT: 16px; line-height:normal; font-size:6px; margin:0px 1px}
.output_empty_star {background-image: url(../images/output_empty_star.gif)}
.input_full_star {background-image: url(../images/input_full_star.gif)}
.output_full_star {background-image: url(../images/output_full_star.gif)}
.validation-advice {display:inline}
input.required, textarea.required {}
select.validation-failed,input.validation-failed, textarea.validation-failed { }
* html select.validation-failed {background-color: #E8CDB9}
select.validation-passed, input.validation-passed, textarea.validation-passed { }
 .validation-advice {margin: 0px 0; padding: 0px; margin-left: 10px; color : #FF3300; font-weight: bold}
.custom-advice1 {margin: 5px 0; padding: 5px; background-color: #DFF3FB; color : #FF3300; font-weight: bold}
.custom-advice2 {margin: 5px 0; padding: 5px; background-color: #FF3300; color : #FFF; font-weight: bold}
.panel {clear: both; display: none;  padding: 0.5em}
.panel.active-tab-body {display: block}
      .tab {padding:0px; margin:0px; border-bottom:1px solid #E1E9F8; margin-bottom:4px; width:100%; overflow:hidden}
.tab ul{ margin: 0 auto; padding: 0; list-style: none}
.tab ul li{ float: left; margin:0px; margin-left:4px; text-align:center}
.tab UL LI A {border-top:4px white solid; line-height:25px; display: inline-block; text-decoration: none; padding: 0 18px; font-weight: bold; float: left}
.tab ul li a:hover,.tab .active-tab {border-top:4px #96B4FF solid; color:black; background-color: #E1E9F8; font-weight: bold}
  a:hover {background-color:#E1E9F8;color: #005BAA }
a{ text-decoration:none;  }
#flash_msg a{ text-decoration: underline}
label{ cursor: pointer}
.fieldWithErrors {padding: 2px; background-color: red}
.main_info h1 {font-size:130%; font-weight:900; margin:0 0 10px }
.main_info h2 {font-size:120%; font-weight:900; margin:0 0 10px;  }
.main_info h3 {font-size:110%; font-weight:900; margin:0px; padding-bottom:6px; padding-top:3px}
.main_info h4 {font-size:100%; font-weight:900; margin-bottom:1px}
#errorExplanation {width: 400px; border: 2px solid red; padding: 7px; padding-bottom: 12px; margin-bottom: 20px; background-color: #f0f0f0}
#errorExplanation h2 {text-align: left; font-weight: bold; padding: 5px 5px 5px 15px; font-size: 12px; margin: -7px; background-color: #c00; color: #fff}
#errorExplanation p {color: #333; margin-bottom: 0; padding: 5px; margin:5px}
#errorExplanation ul li {font-size: 12px}
#main{ min-width:1024px}
 #header{ height:80px; background-color:#c9ff5e;  }
.content{ margin:16px auto;  }
#footer{ clear:both; margin-top:10px; border-top:1px solid #EdEdEd; height:40px; margin:5px}
.container{ padding:0px 35px; height:100%; min-height: 440px; height:auto !important; height: 440px}
#resume_content .inplaceeditor-form,.partial_container{ border:1px solid silver; background-color: #FFF4C2;  margin-bottom:2px; padding:5px 12px}
#lightbox_content textarea,#resume_content textarea{ height:8em}
.section{ padding:0px 20px}
#base_info p span{ font-weight:bold}
#user_base_info{ *overflow:hidden; min-height:21px; height:auto !important; height: 21px}
#resume_content dl{ margin:0 0 0.5em 0}
#resume_content dl dd{ margin:0px}
.form_info{ padding:6px 6px; margin:6px 6px }
.loading{ display:block; margin: 0 auto 0 auto; width:100%; height:32px; background: transparent url(/images/loading.gif) no-repeat center center}
.form_info h1{ font-family: 'Arial Narrow',sans-serif,Helvetica,Arial,sans-serif; margin-bottom:20px}
.form_info .filed_lab{ width: 6em; text-align: right; margin:0px 3px; display:inline-block; float: left;  }
.form_info .group_lab{ color:blue}
.form_info #form_button{ padding:12px}
#search{ width:75%}
 #new_user_page .text, #user_login_page .text{ width:300px}
#top_user_info .text{ width:80%; padding:1px; height: 14px; margin: 0px}
#login_and_reg{ *line-height:80px}
#top_user_info #email{ *margin-top:3px}
 #set_base_info_page .text{ height:16px; width:220px}
.mian_info h1{ padding:0px; margin:0px}
.main_info{ padding:20px 40px; margin-bottom: 8px}
#resume_info_show{ background-color:#ddf0f8}
#resume_info h1{ margin: 0px}
#company_info_show{ background-color:#E9EFF8}
#group_info_show{ background-color:#F7EAEA}
#group_content , #resume_content{ min-height:125px; height:auto !important; height:125px}
.pass_item{ padding-bottom:10px; margin-bottom:10px; border-bottom:1px dotted silver}
.date_field{ color:#999; font-size:99%;  }
 #single_column{ width:890px; margin: 0px auto}
#left_content{ float:left; width:68%; padding:0px; margin:0px; padding-right:12px;  }
#right_content{ float:left; padding:0px; margin:0px; padding-left:12px; height:100%; width:29%; border-left:1px solid #EdEdEd; min-height:500px; height:auto !important; height:500px}
div.auto_complete ul li {cursor:pointer}
.drop_button{ border: 1px solid gray; margin-left:2px; cursor:pointer; padding:0px 1px}
.operation_lab{ display:none; margin-top:2px; float: right; margin-left:4px; font-size:10px}
.hover{ background-color:#FFF9DD; cursor:pointer}
.hover .operation_lab{ display:inline}
 div#menu{ margin:0 auto; width:55%; margin-right:295px; overflow:hidden}
#current_user{ float:right; width:290px; height:80px; display:table}
#current_user_operation{ margin-left: 75px}
#current_user_img {display:table-cell; vertical-align: middle}
#current_user_img .user_icon{  *margin-top:6px; overflow:auto; padding: 6px}
#current_user_img img{ vertical-align:middle; cursor:pointer}
#current_user_img a:hover .user_icon{ background-color:#fff; background-image: url(/images/small_delta.gif); background-repeat: no-repeat; background-position: bottom}
#top_user_info{ display:table-cell; height:80px; vertical-align:middle; overflow:auto}
#top_user_info .login_input{ width:120px; font-size:12px; height:18px}
.user_language{ font-weight:normal; font-style:italic; color:gray; width:160px; overflow:hidden}
.user_short_info{ width:100%; margin-bottom:6px}
ul#nav,ul#nav li{ list-style-type:none; margin:0;padding:0 }
ul#nav{ padding-top:46px; margin:0 auto; width:100%; overflow:hidden}
ul#nav li{float:left; margin-right: 5px; text-align: center }
ul#nav a{ float:left; width: 7em; padding: 8px 0; text-decoration:none; color: #222 }
ul#nav .activelink a,ul#nav a:hover{ color: #000; font-weight:bold; background:#fff url(/images/input-text.png) repeat-x scroll left top}
.thumb_img{ float:right;  padding:1px; border:silver 1px solid; text-align:center; background-color:#fff; position:relative}
.r {float:right}
.l {float:left}
 .detail_judge{ background-color:#EEEEFF; padding-left:32px}
.hot_text{ color:orange; font-weight:bold}
.red_text{ color:#ff3333; font-weight:bold; font-size:14px}
.big_text{ font-size:2.5em}
.pass_judge{ padding:4px}
.judge_infos{ background-color:#fff; padding:0px 4px}
 .upload_file_button{ text-align:center; background-color: #ccccff}
 .sub_block{ margin-bottom:4px; padding:2px}
.sub_block .sub_block_title{ font-weight:bolder; padding:0px 2px ; border-bottom-style: dotted; border-bottom-width: 1px; font-size:14px}
.sub_block .sub_block_content{ padding:4px 0px; overflow: hidden; width: 100%}
.sub_block_operation{ float:right; text-align:right}
  .user_icon ,.group_icon{ background-color:#E1E9F8; text-align:center; padding:5px}
.group_icon p,.user_icon p{ padding:0px; margin:0px; line-height:1; margin-top:2px; overflow:hidden; white-space:normal; word-break:break-all}
.user_icon,.user_icon_top{ width:60px}
.user_icon .icon {width:100%; position:relative}
.user_extension{ margin-right:8px; margin-bottom:8px; height:90px}
 .group_icon{ width:80px}
.float_ul{ list-style-type:none; margin:0;padding:0; overflow:auto}
.float_ul li{ display: inline; float: left}
.group_icon_extend{ margin:4px 6px; height:105px}
.hidden_group_bk{ background-color:#eee}
  .pagination {padding: 3px; margin: 3px}
.pagination a {padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #aaaadd; text-decoration: none; color: #000099}
.pagination a:hover, .pagination a:active {border: 1px solid #000099; color: #000}
.pagination span.current {padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #000099; font-weight: bold; background-color: #000099; color: #FFF}
.pagination span.disabled {padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #eee; color: #ddd}
 #msg_list_table{ width:80%; margin:8px auto; border-collapse:collapse; height:100%}
#msg_list_table th{ text-align:left; background-color:#E1E9F8; padding:4px 8px}
#msg_list_table .msg_title{ width:50%}
#msg_list_table .msg_title a{ display:block}
#msg_list_table td{ padding:4px 8px}
 #msg_show{  margin:8px auto}
.msg_info{ margin-bottom:8px}
.msg_text{ margin-left:160px}
#response_comment{ width:98%; height:5em}
 .apply_info{ margin:10px; padding:8px; border-bottom:1px dotted silver}
.apply_info .applicant, .apply_memo{ float:left; margin-right:8px}
.company_icon{ height:70px; width: 70px; vertical-align:middle; display:table-cell}
.company_icon a{ line-height:0px}
.company_icon img{ vertical-align:middle}
 .link_list{ width:100%; overflow:hidden}
.link_list ul{ margin:0px}
.link_list li{ list-style-type:none; margin-bottom:2px}
.link_list li a{ display: block; width:100%; padding:2px 4px; max-height:6em}
#current_company{ color:black; background-color: #E1E9F8; font-weight: bold}
.link_list li a:hover {color:black; background-color: #E1E9F8}
 #invite_yokemate{ display: inline-block; min-height:1.6em; height:auto !important; height:1.7em; width: 378px}
#invite_yokemate input{ height:auto; width:auto}
#invite_email,#invite_msg {width:380px}
#invite_msg{ height:150px}
.user_my_language{ font-size:small; font-weight:normal; font-style:italic; color:gray}
#my_language{ width:100%; overflow:hidden; bottom: 0; left: 0; height:3em; position: absolute; white-space:normal}
#my_language_area{ width:15em; height:45px !important; height:55px; margin-bottom:2px; position: relative}
#my_language_area form{ position: absolute; top: 0px; left:0px; width:100%}
#my_language_area textarea{ width:100%; height:3em}
 .company_name{ font-weight: bolder}
.company_short_info{ margin-bottom: 0.8em}
.company_short_info .icon .icon_inner{ display:table-cell; vertical-align:middle; text-align:center; height:68px; line-height:68px; width:68px; *font-size: 59px; *font-family:Arial}
.company_short_info .icon .icon_inner img{ vertical-align:middle}
.rank{ font-size: 280%; font-weight:bolder; color:red}
 #company_tags{ width:440px}
#industry_link_list {width: 100%; overflow:auto}
#industry_link_list li{ display: inline; float: left}
#industry_link_list a{ width: 16em; padding:2px 4px; display:block}
.tag,.disable_tag{ padding:2px 8px; margin:1px; display:inline-block; cursor:pointer}
.tag{ background-color:#ccff99}
.disable_tag{ background-color:silver}
.tag_input{ width:440px}
 div.auto_complete {width: 350px; background: #fff}
div.auto_complete ul {border:1px solid #888; margin:0; padding:0; width:100%; list-style-type:none}
div.auto_complete ul li {margin:0; padding:3px}
div.auto_complete ul li.selected {background-color: #ffb}
div.auto_complete ul strong.highlight {color: #800; margin:0; padding:0; font-weight:bold}
 .user_log h5,.user_log_just_text h5{ font-weight:bolder; margin:6px auto; color:gray}
.user_log_just_text .icon_right_content{ margin-left: 8px}
.user_log{ margin-bottom:0.8em}
 .news_title{ font-weight:bold; background-color:#E1E9F8; padding:4px 8px}
 .make_up_down{ padding:2px}
.make_up,.make_down{ padding:3px; text-align:center; width:26px}
.make_up{ background-color:#E1E9F8}
.make_down{ background-color:#FBE3E4}
 .main_content{ border-bottom:1px silver solid; margin-bottom:6px; min-height:100px; height: auto!important; height:100px}
.news_company_icon{ margin-right:12px}
  .operation{ text-align:center}
.item_content{ padding:8px 2px;  border-bottom:1px silver dotted ; overflow:auto}
.icon_right_content{ margin-left:80px}
.group_short_content{ margin-left:100px}
.group_short_description{ min-height:40px; height:auto !important; height:40px}
.item_content .editor_field{ height:60px; width:500px}
  .recommend_memo{ height:120px}
 .topic_item{ padding:4px 5px 4px 5px; overflow:auto; border-bottom:#F0F0F0 solid 1px }
.topic_item a{ text-decoration:none}
.topic_item a:hover{ background-color:transparent; text-decoration:underline}
 .topic_item span{ font-size:90%; color:gray}
.gray_background{ background-color: #F5F5F5}
.big_star_judge{ margin: 2px}
 .big_star_0,.big_star_1,.big_star_2,.big_star_3,.big_star_4,.big_star_5， {width:120px; background-image:url(/images/big_star.png); display:inline-block; background-position: 0px 0px; height:21px; font-size:10px; background-repeat:no-repeat}
.big_star_0{ background-position: 0px 0px}
.big_star_1{ background-position: 0px -21px}
.big_star_2{ background-position: 0px -42px}
.big_star_3{ background-position: 0px -63px}
.big_star_4{ background-position: 0px -85px}
.big_star_5{ background-position: 0px -106px}
.middle_star_0,.middle_star_1,.middle_star_2,.middle_star_3,.middle_star_4,.middle_star_5， {width:91px; background-image:url(/images/middle_star.png); display:inline-block; background-position: 0px 0px; height:16px; background-repeat:no-repeat}
.middle_star_0{ background-position: 0px 0px}
.middle_star_1{ background-position: 0px -16px}
.middle_star_2{ background-position: 0px -32px}
.middle_star_3{ background-position: 0px -48px}
.middle_star_4{ background-position: 0px -64px}
.middle_star_5{ background-position: 0px -80px}
.small_star_0,.small_star_1,.small_star_2,.small_star_3,.small_star_4,.small_star_5{ width:68px; background-image:url(/images/small_star.png) ; display:inline-block; background-repeat:no-repeat; background-color:transparent; color:#fff; padding:0px; font-size:10px; font-weight:normal; height:12px}
.small_star_0{ background-position: 0px 0px}
.small_star_1{ background-position: 0px -12px}
.small_star_2{ background-position: 0px -24px}
.small_star_3{ background-position: 0px -36px}
.small_star_4{ background-position: 0px -48px}
.small_star_5{ background-position: 0px -60px}
 .process_bar{ display:inline-block; background-color:gray; height:13px; margin-right:2px; margin-left:2px}
.visible_0, .visible_1, .visible_2, .add_img_button, .edit_img_button, .del_img_button {width:13px; height:13px; display:inline-block; background-repeat:no-repeat; background-position:left; margin:0px 4px; background-color:transparent; font-size:10px}
.add_img_button{ background-image:url(/images/add_img.png)}
.edit_img_button{ background-image:url(/images/edit_img.gif)}
.del_img_button{ background-image:url(/images/del_img.png)}
.visible_0{ background-image:url(/images/visible_open.png)}
.visible_1{ background-image:url(/images/visible_olny_friend.png)}
.visible_2{ background-image:url(/images/visible_self.png)}
.text_center{ text-align:center}
.set_center{ margin:0 auto}
 .user_state_working,.user_state_freedom,.user_state_student{ display:inline-block; font-size:12px; height:60px; width:10px; height:10px; line-height:10px; background-repeat:no-repeat; margin:0 2px 0 0}
.user_state_working{ background-image:url(/images/im_working.png)}
.user_state_freedom{ background-image:url(/images/im_free.png)}
.user_state_student{ background-image:url(/images/im_student.png)}
.user_state_at_icon{ bottom:0; left:0; position:absolute; overflow:hidden}
 #ajax_login_form{ width: 390px}
#ajax_login_form .text{ width: 240px}
.panel{ overflow:hidden}
.register_button{ background: url(/images/register.png); display: block; width: 291px; height:57px; margin: 0 auto; float: right; border: 1px #E1E9F8 solid}
.register_button:hover {border: 1px silver solid}
#welcome_div{ padding: 14px; overflow: auto; background-color: #E1E9F8}
#user_count,#company_count,#group_count{ font-size: 140%; font-weight:bolder}
#user_count{ color: red}
#company_count{ color:green}
#group_count{ color:blue}
#hide_register_button{ width: 30px; height:20px; display:block; margin: 0 auto}
.msg_title_input{ width: 390px; display: inline-block}
#search{ font-weight: bolder}
.bottom_gray_line{ border-bottom: 1px solid #EdEdEd}
#whole_judge_detail_star{ border:solid 1px #DEDEDE; border-top:none; background:#FFFFFF; position:absolute; margin:0px; padding:8px 10px; clear:both; z-index:299}
.center_block{ margin: 0 auto; width: 650px}
.half_width{ width: 49%}
 .pui-autocomplete-holder {margin: 0; border: 1px solid #999; overflow: hidden; padding: 0px 5px; font:normal 12px Verdana, Arial, sans-serif; height: auto !important; height: 1%; background:white url(/images/input-text.png) repeat-x scroll left top}
.pui-autocomplete-holder li {float: left; position: relative; list-style-type: none; margin: 4px 0 }
 .pui-autocomplete-holder li.pui-autocomplete-input {margin: 2px 0; height: 20px}
.pui-autocomplete-input input {float:left; width: 100%; border: 0; padding: 0; margin: 0; outline: 0; height: 20px; line-height: 20px; font-size:13px}
 .pui-autocomplete-holder li.pui-autocomplete-box {height:16px; margin-right:2px; background:url(/images/auto_complete_like_facebook/default/item_left.gif) no-repeat; overflow:hidden}
.pui-autocomplete-holder li.pui-autocomplete-box span {float:left; position: relative; margin:0; padding:0 20px 0 5px; height:16px; background:url(/images/auto_complete_like_facebook/default/item_right.gif) no-repeat right center}
 .pui-autocomplete-holder li.pui-autocomplete-box.pui-autocomplete-selected {background-image:url(/images/auto_complete_like_facebook/default/item_selected_left.gif); color: #FFF}
.pui-autocomplete-holder li.pui-autocomplete-box.pui-autocomplete-selected span {background-image:url(/images/auto_complete_like_facebook/default/item_selected_right.gif); color: #FFF}
 .pui-autocomplete-holder li.pui-autocomplete-box.pui-autocomplete-over {background-image:url(/images/auto_complete_like_facebook/default/item_over_left.gif)}
.pui-autocomplete-holder li.pui-autocomplete-box.pui-autocomplete-over span {background-image:url(/images/auto_complete_like_facebook/default/item_over_right.gif)}
 .pui-autocomplete-holder li.pui-autocomplete-box a {position: absolute; right: 6px; top: 5px; display: block; width: 7px; height: 7px; font-size: 1px; background: url('/images/auto_complete_like_facebook/default/close.gif')}
.pui-autocomplete-holder li.pui-autocomplete-box a:hover {background-position: 7px}
.pui-autocomplete-holder li.pui-autocomplete-selected a, .pui-autocomplete-holder li.pui-autocomplete-selected a:hover {background-position: bottom}
 .pui-autocomplete-result {position: absolute; top:0; left:0; border:1px solid #CCCCCC; background: #EEE; font:normal 12px Verdana, Arial, sans-serif; text-align:left}
.pui-autocomplete-message {padding:5px 7px}
.pui-autocomplete-result ul {margin:0; padding:0}
.pui-autocomplete-result ul li {padding: 5px 12px; margin: 0; list-style-type: none; border-bottom: 1px solid #ccc; border-width: 0 1px 1px}
.pui-autocomplete-result ul li em {font-weight: bold; font-style: normal}
.pui-autocomplete-result ul li.pui-autocomplete-current {background: #4173CC; color: #fff}
.pui-autocomplete-result ul li.pui-autocomplete-current em {background: none; color:#000}