<div id="left_content">
  <h1>小组所有标签 </h1>
  <%= render :partial=>"tags/show_tag" ,:collection=>@tags  %>
  <%= will_paginate  @tags %>
</div>
<div id="right_content">
  <%= link_to "返回小组首页" ,groups_path() %>
</div>