<%user =   operation %>
<% if !current_user?(user) %>
  <% if !current_user.is_friend?(user) %>
    <% if !user.add_friend_applications.exists?(["applicant_id=#{current_user.to_param}"]) %>
      <%= case (user.setting.apply_friend_auth)
      when UserSetting::APPLY_FRIEND_TYPES[0] then
        link_to_remote "加为好友",{:url=>add_friend_account_path(:friend_id=>user),:method=>:post},:class=>"button"
      when UserSetting::APPLY_FRIEND_TYPES[1] then
        link_to_remote_lightbox( "申请好友",
          {:url=>apply_account_add_friend_applications_path(:respondent_id=>user)},:class=>"button")
      else ""
      end%>
    <%else%>
      <span class="hot_text">
        好友申请中
      </span>
    <%end%>
  <%else%>
    <%= link_to_remote  "解除好友",{:url=>destroy_friend_account_path(:friend_id=>user ),
      :confirm => '你确定吗?'},:class=>"button negative" %>
  <%end%>
  <%= link_to "发消息" ,new_account_msg_path(:write_to=>user) ,:class=>"button"%>
<%end%>
