<div class="item_content">
  <div class="r">
    <%= render :partial=>"users/operation",:object=>user_info_and_operation %>
  </div>
  <%= render :partial=>"users/user_short_info",:object=>user_info_and_operation,:locals=>{:old_company=>old_company ||= nil  } %>
</div>