<%f = form%>
<p>
  <%= f.label :title,"标题",:class=>"filed_lab" %>
  <%= f.text_field :title,:class=>"required",:title=>"标题不能为空",:maxlength=>48 %>
</p>
<p>
  <%= f.label :content,"内容",:class=>"filed_lab" %>
  <%= f.text_area :content,:class=>"required",:title=>"内容不能为空" %>
</p>
