<div id="left_content">
  <h1></h1>
  <%  sub_block_div() do %>
    <%= render :partial=>"recommends/recommend_info",:collection=>@recommends %>
    <%= will_paginate @recommends %>
  <%end%>
</div>
<div id="right_content">
  
</div>