<h1> <%= "#{@company.name}" %></h1>

<div id="left_content">
  <h2>所有简短描述</h2>
  <%= render :partial=>"companies/show_tag" ,:collection=>@tags  %>
  <%= will_paginate  @tags %>
</div>
<div id="right_content">
  <%= link_to "<< 返回 #{@company.name}",company_path(@company) %>
</div>