<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<% log = object %>
<%=  simple_format(log.logable.content) %>
<% if current_user?(log.owner) %>
  <p >  <%= link_to_remote "删除",:url=>publish_path(log.logable), :confirm => '确定删除吗?', :method => :delete%></p>
<%end%>
