<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<%log = object%>
<p >话题 <%=  link_to   log.logable.title,log.logable,:target=>"_blank"%> </p>
<div>
  <%= simple_format(auto_link(truncate("#{log.logable.content}", :length=>120)))%>
</div>
<%=  link_to  "查看详细…",log.logable,:target=>"_blank"%>