<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<%log = object%>

招聘： <%=  link_to(log.logable.title ,
  log.logable,:target=>"_blank" )%>
<div>
  <%= truncate(strip_tags(log.logable.description),:length=>30) %>
</div>
<%= link_to "查看详细…" , log.logable%>

