<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<%log = object%>
<p>
  推荐 <%=  link_to link_to log.logable.recommendable.to_s, log.logable.recommendable,:target=>"_blank"%>
</p>
<blockquote><%=  h log.logable.memo%> </blockquote>
