<%= render :partial=>"publishs/form" %>

<%= render :partial=>"log_items/log_type" %>
<div id="logs">
  <%= render :partial=>"log_items/show",:object=>@logs %>
</div>
<div id="next_page">
  <%if  @logs.total_pages >@logs.current_page  %>
    <%= render(:partial=>"log_items/more_button",:locals=>{:url=>log_items_path(:type=>params[:type],:page=>@logs.current_page.next)})%>
  <%end%>
</div>