<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<div class="l half_width" style="height:110px;overflow:hidden;">
  <%= render :partial=>"users/user_short_info",:object=>horizontal_user_info  %>
</div>