<div id="left_content">
  <h1>所有我关注的动态信息</h1>
  <%= render :partial=>"account/log_type" %>
  <%= render :partial=>"comm_partial/show_log",:object=>@log_items %>
  <%= will_paginate @log_items%>
</div>
<div id="right_content">
  <% sub_block_div() do %>
    <%= link_to "<< 返回 我的首页",account_path() %>
  <%end%>
</div>