<h1>所有我关注的动态信息</h1>
<div id="left_content">
  <%= render :partial=>"account/log_type" %>
  <%= render :partial=>"comm_partial/show_log",:object=>@log_items %>
  <%= will_paginate @log_items%>
</div>
<div id="right_content">
  <div class="sub_block">

    <div class="sub_block_content">
      <%= link_to "<< 返回 我的首页",account_path() %>
    </div>
  </div>
</div>