<div id="left_content">
  <h1>取回密码</h1>
  <% form_tag  forget_password_account_path() do %>
    <p>
      <%=label_tag  "email_label", "注册邮箱", {:for=>"email",:class=>"filed_lab"} %>
      <%= text_field_tag   "email",params[:email] , :class=>"text",:id=>"user_email",:maxlength=>64,:size=>64%>

    </p>
    <%= submit_tag "发送",:disable_with=>"发送…" ,:class=>"button" %>
  <%end%>
</div>
<div id="right_content">
  <% sub_block_div do%>
    <dl>
      <dt>取回密码</dt>
      <dd>
        输入你注册时的邮箱<br />系统将会发一份重新设置密码的邮件<br />到你的邮箱，如果长时间内没有收到邮件<br />还可以在这里再次取回密码。
      </dd>
    </dl>
  <%end%>
</div>
