<div id="left_content">

  <% form_tag  forget_password_account_path(),:class=>"required-validate form_info center_block" do %>
    <h1>取回密码</h1>
    <p>
      <%=label_tag  "email_label", "注册邮箱", {:for=>"email",:class=>"filed_lab"} %>
      <%= text_field_tag   "email",params[:email] , :class=>"text",:id=>"user_email",:maxlength=>64,:size=>64%>

    </p>
    <%= submit_tag "发送",:disable_with=>"发送…" ,:class=>"button" %>
  <%end%>
</div>
<div id="right_content">
 
  <% sub_block_div do%>

    <dl>
      <dt>取回密码</dt>
      <dd>
        输入注册的邮箱<br />系统发送重设密码链接<br />未收到邮件<br />可重复操作
      </dd>
    </dl>
  <%end%>
</div>
