<div id="left_content">
  <h1>加入小组邀请</h1>
  <%= render :partial=>"join_group_invites/show_apply" ,:collection=>@invites   %>
  <%= will_paginate @invites %>
</div>
<div id="right_content">
  <% sub_block_div() do %>
    <%= link_to "<< 返回 个人页面", user_path(current_user) %>
  <%end%>
</div>