
<%remote_form_for(:my_language,:url=>publishs_path(),:html=>{:class=>"required-validate"}) do |f|%>
  <%= f.text_area :content,:id=>"publish_editor",:class=>"required",:title=>"不能为空哦" %>
  <br />
  <span id="advice-required-response_comment" class="validation-advice"></span> <%= f.submit "发布" , :class=>"r"  %>
<%end%>
<%= text_default_value 'publish_editor',"说点什么吧" %>