
<div class="form_info">
  <h1>创建 教育信息</h1>

  <% form_for(@education,
    :url=>user_resume_educations_path(params[:user_id],params[:resume_id]),:html=>{:method=>:post}) do |f| %>

    <%= render :partial=>"educations/form",:object=>f %>
    <p>
      <%= f.submit '保存并继续创建' %>  <%= f.submit '保存并进入下一步' %>  <%= link_to "跳过", new_user_resume_speciality_path(params[:user_id],params[:resume_id]) %>
    </p>
  <% end %>
</div>
