
  <div class="form_info">
    <h1>编辑个人信息</h1>
    <% form_for(@resume,:url=>user_resume_path(params[:user_id],@resume),:html=>{:method=>"put"})  do |f| %>
      <%= f.error_messages %>
      <%= render :partial=>"resumes/form"  ,:object=>f%>
      <p>
        <%= f.submit '保存',:disable_with=>"保存…",:disabled => false  %>
      </p>
    <% end %>
  </div>

