<div id="single_column">
  <%= link_to "查看更详细资料>>",@resume.user,:class=>"r" %>
  <%= render :partial=>"users/info_head",:object=>@resume.user %>
  <div id="resume_info_show" class="main_info">
    <div id="resume_content">
    </div>
  </div>
  <%=   javascript_tag(remote_function(:update=>'resume_content',
      :url=>url_for(:controller=>"resumes",:action=>"render_resume",
        :id=>@resume),
      :method=>'get'))  %>
</div>
