<div id="single_column">
  <% link_to  current_user ? @resume.user : login_account_path(:reurl=> user_path(@resume.user)) ,:class=>"r hot_link" do%>

  <%#=  "#{@resume.user.current_resume.yokemates.size}个同事 " if @resume.user.current_resume.yokemates.size>0%>
  <%#*&nbsp;%>
  <%#=  "#{@resume.user.friend_users.size}个好友 " if @resume.user.friend_users.size>0%>
    <%= "想了解更多信息 联系我吧>>"  %>

  <%end%>
  <%= render :partial=>"users/info_head",:object=>@resume.user %>
  <div id="resume_info_show" class="main_info">
    <div id="resume_content">
    </div>
  </div>
  <%=   javascript_tag(remote_function(:update=>'resume_content',
      :url=>url_for(:controller=>"resumes",:action=>"render_resume",
        :id=>@resume),
      :method=>'get'))  %>
</div>