<div id="left_content">
  <h1>新建求职信息</h1>
  <% form_for([:account,@need_job],{},:html=>{:class=>"form_info required-validate"}) do |f| %>
    <%= render :partial=>"need_jobs/form" ,:object=>f %>
    <p>
      <%= f.submit '发布' %>
    </p>
  <% end %>
</div>
<div id="right_content">
  
  <%= link_to '<<返回我的求职列表', account_need_jobs_path() %>
</div>
